.navbar {
    background-color: #4191e1;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #4191e1;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.carousel-item img {
    height: 700px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler {
    background-color: #e6eeff;
}

.section-title {
    font-family: 'Playfair Display', serif;
}

.section-title span {
    color: #4191e1;
}

#sobre-o-site,
#catalogo {
    background-color: #d1e8ff;
}

.text-colored {
    color: #4191e1;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #4191e1;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #4191e1;
}

.social-links {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}